
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url("7132.jpg");
        }
        .container {
            display: flex;
            height: 100vh;
        }
        .menu {
            width: 25%;
            background-color: #0a1f44;
            padding: 20px;
        }

        .menu ul {
            list-style-type: none;
            padding: 0;
        }

        .menu ul li {
            margin: 15px 0;
        }

        .menu ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            display: block;
            padding: 10px;
            background-color: #34495e;
            border-radius: 5px;
        }

        .menu ul li a:hover {
            background-color: #1abc9c;
            opacity: 1;
            box-shadow: white;
        }
        .content {
            width: 75%;
            padding: 20px;
        }

        iframe {
            width: 100%;
            height: 450px;
            border: 8px solid #2c3e50; 
            box-shadow: 3px 3px 3px 3px black;
            border-radius: 8px;
            background-image: url("7132.jpg");
        }
        h2{
            text-align: center;
        }
    
